CONFIG_ARM=y
CONFIG_ARCH_S5L87XX=y
CONFIG_S5L8730=y
CONFIG_TARGET_N33=y
CONFIG_DEFAULT_DEVICE_TREE="s5l8730-n33"
CONFIG_STACK_SIZE=0x00100000
CONFIG_TEXT_BASE=0x08000000
CONFIG_SYS_LOAD_ADDR=0x08000000
CONFIG_SYS_MALLOC_LEN=0x00200000
CONFIG_SYS_DFU_DATA_BUF_SIZE=0x00100000
CONFIG_SET_DFU_ALT_INFO=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_OF_CONTROL=y
CONFIG_CLK=y
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_GADGET_DWC2_OTG=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_GADGET_VENDOR_NUM=0x05ac
CONFIG_USB_GADGET_PRODUCT_NUM=0x8007
CONFIG_CMD_DFU=y
CONFIG_DFU_RAM=y
CONFIG_FIT=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="dfu 0 ram 0; bootm"
CONFIG_BOOTDELAY=3
CONFIG_POSITION_INDEPENDENT=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_S5P=y
CONFIG_DEBUG_UART_BASE=0x3CC00000
CONFIG_DEBUG_UART_CLOCK=140000000
CONFIG_DEBUG_UART_BOARD_INIT=y
CONFIG_DEBUG_UART_ANNOUNCE=y
