if ARCH_S5L87XX

choice
    prompt "S5L87XX board select"

config TARGET_IPODNANO2G
    bool "Apple iPod nano (2nd generation)"
    select CPU_ARM920T

config TARGET_N33
    bool "Apple N33 - iPod nano (5th generation)"
    select CPU_ARM1176

config TARGET_N31
    bool "Apple N31 - iPod nano (7th generation)"
    select CPU_V7A

endchoice

config SYS_SOC
    default "s5l87xx"

source "board/apple/ipodnano2g/Kconfig"
source "board/apple/n33/Kconfig"
source "board/apple/n31/Kconfig"

endif
